@media (min-width: 768px) {
    .header-light {
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
    }
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 767px) {

    .header-light .container {
        background-color: rgba(255, 255, 255, .95);
    }
    .header .navbar-collapse {
        border-top: 1px solid #284360;
        background-color: rgba(0, 0, 0, .3);
        font-size: 1.1em;
    }
    .header-light .navbar-collapse {
        border-top: 0;
        background-color: rgba(255, 255, 255, .5);
    }
    .header-light .navbar-header {
        border-bottom: 1px solid #f0f0f0;
    }
    .footer {
        min-height: 30px;
        line-height: 30px;
    }
    .footer .text-muted {
        margin: 0 auto;
        text-align: center;
    }
    .footer .social {
        display: none;
    }
    #menu li {   
        margin: 10px 0;
    }
    .section h1 {
        font-size: 3em;
    }
    .section h2 {
        font-size: 2em;
        margin: 0 0 .6em;
    }
    .section p.caption {
        font-size: 1.1em;
        margin: 0 0 .2em;
    }
    .section p.lead {
        font-size: 1.3em;
        margin: 0 0 .3em;
    }
    .about-icon {
        height: 62.5px;
        background-size: 40px;
    }
    .modal-body {
        max-height: 320px;
        overflow: scroll;
    }
    .section-home a {
        text-decoration: none;
    }
    .arrow {
        margin: 2em auto;
    }
}
